In [20]:
import pandas as pd
dataset = pd.read_csv('C:/Users/poom/Documents/Sorted_Poom/KU/4_2/Project/Data/ptt.csv', header=0, infer_datetime_format=True, parse_dates=['Date'], index_col=['Date'])
df_real = dataset
dataset = dataset.drop(index = dataset[dataset['Close']>100].index)
dataset = dataset.drop(index = dataset[dataset['Close'].isnull()].index)
dataset.head()

                Close     Volume
Date
2008-10-29  14.000000  117061000
2008-10-30  15.300000  149869000
2008-10-31  15.900000  101556000
2008-11-03  17.700001  116285000
2008-11-04  18.299999   85938000

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = pd.DataFrame(scaler.fit_transform(dataset.values),index=dataset.index,columns=dataset.columns)
split_date = '2018-01-01'
train = dataset.loc[:split_date].values.reshape(-1, len(dataset.columns))
test = dataset.loc[split_date:].values.reshape(-1, len(dataset.columns))

In [29]:
df_scaled = pd.DataFrame(scaled,index=dataset.index,columns=dataset.columns)
df_scaled

               Close    Volume
Date
2008-10-29  0.006652  0.351882
2008-10-30  0.035477  0.450502
2008-10-31  0.048780  0.305275
2008-11-03  0.088692  0.349550
2008-11-04  0.101996  0.258327
2008-11-05  0.101996  0.363272
2008-11-06  0.101996  0.317121
2008-11-07  0.099778  0.366239
2008-11-10  0.095344  0.255054
2008-11-11  0.075388  0.185246
2008-11-12  0.066519  0.179237
2008-11-13  0.064302  0.181173
2008-11-14  0.059867  0.154354
2008-11-17  0.068736  0.076562
2008-11-18  0.048780  0.134791
2008-11-19  0.028825  0.192085
2008-11-20  0.011086  0.290780
2008-11-21  0.008869  0.364883
2008-11-24  0.000000  0.182841
2008-11-25  0.002217  0.143842
2008-11-26  0.013304  0.282423
2008-11-27  0.006652  0.216283
2008-11-28  0.022173  0.281855
2008-12-01  0.015521  0.391555
2008-12-02  0.013304  0.280358
2008-12-03  0.015521  0.278503
2008-12-04  0.015521  0.249102
2008-12-08  0.037694  0.400603
2008-12-09  0.068736  0.551981
2008-12-11  0.077605  0.480105
...              ...       ...
2019-08-08  0.677384  0.267974
2019-08-09  0.677384  0.122663
2019-08-13  0.649667  0.304919
2019-08-14  0.655211  0.254227
2019-08-15  0.633038  0.299477
2019-08-16  0.644124  0.129640
2019-08-19  0.655211  0.143017
2019-08-20  0.644124  0.100671
2019-08-21  0.649667  0.089520
2019-08-22  0.633038  0.251348
2019-08-23  0.638581  0.061962
2019-08-26  0.605322  0.265424
2019-08-27  0.599778  0.240987
2019-08-28  0.605322  0.085032
2019-08-29  0.655211  0.329765
2019-08-30  0.677384  0.282710
2019-09-02  0.660754  0.146133
2019-09-04  0.660754  0.137282
2019-09-05  0.677384  0.155405
2019-09-06  0.682927  0.088125
2019-09-09  0.694013  0.099481
2019-09-10  0.705100  0.134537
2019-09-11  0.710643  0.131530
2019-09-12  0.705100  0.114027
2019-09-13  0.705100  0.111531
2019-09-16  0.738359  0.329373
2019-09-17  0.743902  0.251220
2019-09-18  0.710643  0.274697
2019-09-19  0.699557  0.140066
2019-09-20  0.705100  0.217306

[2657 rows x 2 columns]

In [31]:
import numpy as np

n_input =5
n_out=5

def lstm_reshape(dataA, dimension):
        dataA = np.reshape(dataA, (dataA.shape[0], dataA.shape[1], dimension))
        return dataA

def lstm_reshape_y(dataA, dimension):
        dataA = np.reshape(dataA, (dataA.shape[0], dimension))
        return dataA

# convert history into inputs and outputs
def to_supervised(train, n_input, n_out):
        features_set = []  
        labels = []  
        for i in range(n_input, len(train)-n_out + 1):  
            features_set.append(train[i-n_input:i])
            labels.append(train[i:i+n_out,0])
        return lstm_reshape(np.array(features_set),train.shape[1]), lstm_reshape_y(np.array(labels),n_out)

train_x, train_y = to_supervised(train, n_input, n_out)
test_x, test_y = to_supervised(test, n_input, n_out)
n_timesteps, n_features, n_outputs = train_x.shape[1], train_x.shape[2], train_y.shape[1]

In [33]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.optimizers import Adam
from keras.layers import LSTM
import time
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

lstm_model = Sequential()
lstm_model.add(Dense(n_timesteps, input_shape=(n_timesteps, n_features), activation='relu'))
lstm_model.add(LSTM(1024, activation='relu'))
lstm_model.add(Dense(n_outputs, activation='linear'))
lstm_model.summary()

lstm_model.compile(Adam(lr=0.0001), loss='mean_squared_error', metrics=['mse'])
early_stop = EarlyStopping(monitor='val_mean_squared_error', patience=100, verbose=2, restore_best_weights=True)
t_lstm = time.time()
history_lstm_model = lstm_model.fit(train_x, train_y , validation_split=0.05, epochs=5, batch_size=256, verbose=2, shuffle=False, callbacks=[early_stop])
fin_time_lstm = time.time() - t_lstm

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 5, 5)              15
_________________________________________________________________
lstm_2 (LSTM)                (None, 1024)              4218880
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 5125
=================================================================
Total params: 4,224,020
Trainable params: 4,224,020
Non-trainable params: 0
_________________________________________________________________
Train on 2115 samples, validate on 112 samples
Epoch 1/5
 - 11s - loss: 0.1512 - mean_squared_error: 0.1512 - val_loss: 0.3576 - val_mean_squared_error: 0.3576
Epoch 2/5
 - 5s - loss: 0.1458 - mean_squared_error: 0.1458 - val_loss: 0.3464 - val_mean_squared_error: 0.3464
Epoch 3/5
 - 5s - loss: 0.1373 - mean_squared_error: 0.1373 - val_loss: 0.3280 - val_mean_squared_error: 0.3280
Epoch 4/5
 - 5s - loss: 0.1234 - mean_squared_error: 0.1234 - val_loss: 0.2969 - val_mean_squared_error: 0.2969
Epoch 5/5
 - 5s - loss: 0.1007 - mean_squared_error: 0.1007 - val_loss: 0.2457 - val_mean_squared_error: 0.2457

In [34]:
print('Total Training Time =',fin_time_lstm)

Total Training Time = 34.052162647247314

In [35]:
ind_Pred = list(range(0,len(dataset['Close'])-(n_input+n_out),n_out))
ind_Pred

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000,
 1005,
 1010,
 1015,
 1020,
 1025,
 1030,
 1035,
 1040,
 1045,
 1050,
 1055,
 1060,
 1065,
 1070,
 1075,
 1080,
 1085,
 1090,
 1095,
 1100,
 1105,
 1110,
 1115,
 1120,
 1125,
 1130,
 1135,
 1140,
 1145,
 1150,
 1155,
 1160,
 1165,
 1170,
 1175,
 1180,
 1185,
 1190,
 1195,
 1200,
 1205,
 1210,
 1215,
 1220,
 1225,
 1230,
 1235,
 1240,
 1245,
 1250,
 1255,
 1260,
 1265,
 1270,
 1275,
 1280,
 1285,
 1290,
 1295,
 1300,
 1305,
 1310,
 1315,
 1320,
 1325,
 1330,
 1335,
 1340,
 1345,
 1350,
 1355,
 1360,
 1365,
 1370,
 1375,
 1380,
 1385,
 1390,
 1395,
 1400,
 1405,
 1410,
 1415,
 1420,
 1425,
 1430,
 1435,
 1440,
 1445,
 1450,
 1455,
 1460,
 1465,
 1470,
 1475,
 1480,
 1485,
 1490,
 1495,
 1500,
 1505,
 1510,
 1515,
 1520,
 1525,
 1530,
 1535,
 1540,
 1545,
 1550,
 1555,
 1560,
 1565,
 1570,
 1575,
 1580,
 1585,
 1590,
 1595,
 1600,
 1605,
 1610,
 1615,
 1620,
 1625,
 1630,
 1635,
 1640,
 1645,
 1650,
 1655,
 1660,
 1665,
 1670,
 1675,
 1680,
 1685,
 1690,
 1695,
 1700,
 1705,
 1710,
 1715,
 1720,
 1725,
 1730,
 1735,
 1740,
 1745,
 1750,
 1755,
 1760,
 1765,
 1770,
 1775,
 1780,
 1785,
 1790,
 1795,
 1800,
 1805,
 1810,
 1815,
 1820,
 1825,
 1830,
 1835,
 1840,
 1845,
 1850,
 1855,
 1860,
 1865,
 1870,
 1875,
 1880,
 1885,
 1890,
 1895,
 1900,
 1905,
 1910,
 1915,
 1920,
 1925,
 1930,
 1935,
 1940,
 1945,
 1950,
 1955,
 1960,
 1965,
 1970,
 1975,
 1980,
 1985,
 1990,
 1995,
 2000,
 2005,
 2010,
 2015,
 2020,
 2025,
 2030,
 2035,
 2040,
 2045,
 2050,
 2055,
 2060,
 2065,
 2070,
 2075,
 2080,
 2085,
 2090,
 2095,
 2100,
 2105,
 2110,
 2115,
 2120,
 2125,
 2130,
 2135,
 2140,
 2145,
 2150,
 2155,
 2160,
 2165,
 2170,
 2175,
 2180,
 2185,
 2190,
 2195,
 2200,
 2205,
 2210,
 2215,
 2220,
 2225,
 2230,
 2235,
 2240,
 2245,
 2250,
 2255,
 2260,
 2265,
 2270,
 2275,
 2280,
 2285,
 2290,
 2295,
 2300,
 2305,
 2310,
 2315,
 2320,
 2325,
 2330,
 2335,
 2340,
 2345,
 2350,
 2355,
 2360,
 2365,
 2370,
 2375,
 2380,
 2385,
 2390,
 2395,
 2400,
 2405,
 2410,
 2415,
 2420,
 2425,
 2430,
 2435,
 2440,
 2445,
 2450,
 2455,
 2460,
 2465,
 2470,
 2475,
 2480,
 2485,
 2490,
 2495,
 2500,
 2505,
 2510,
 2515,
 2520,
 2525,
 2530,
 2535,
 2540,
 2545,
 2550,
 2555,
 2560,
 2565,
 2570,
 2575,
 2580,
 2585,
 2590,
 2595,
 2600,
 2605,
 2610,
 2615,
 2620,
 2625,
 2630,
 2635,
 2640,
 2645]

In [39]:
remain = len(dataset['Close']) % n_input
remain

2

In [40]:
Y_true = df_real['Close'][n_input:-remain];Y_true

Date
2008-11-05    18.299999
2008-11-06    18.299999
2008-11-07    18.200001
2008-11-10    18.000000
2008-11-11    17.100000
2008-11-12    16.700001
2008-11-13    16.600000
2008-11-14    16.400000
2008-11-17    16.799999
2008-11-18    15.900000
2008-11-19    15.000000
2008-11-20    14.200000
2008-11-21    14.100000
2008-11-24    13.700000
2008-11-25    13.800000
2008-11-26    14.300000
2008-11-27    14.000000
2008-11-28    14.700000
2008-12-01    14.400000
2008-12-02    14.300000
2008-12-03    14.400000
2008-12-04    14.400000
2008-12-08    15.400000
2008-12-09    16.799999
2008-12-11    17.200001
2008-12-12    17.200001
2008-12-15    17.700001
2008-12-16    18.000000
2008-12-17    17.700001
2008-12-18    18.000000
                ...
2019-08-06    45.500000
2019-08-07    45.000000
2019-08-08    44.250000
2019-08-09    44.250000
2019-08-13    43.000000
2019-08-14    43.250000
2019-08-15    42.250000
2019-08-16    42.750000
2019-08-19    43.250000
2019-08-20    42.750000
2019-08-21    43.000000
2019-08-22    42.250000
2019-08-23    42.500000
2019-08-26    41.000000
2019-08-27    40.750000
2019-08-28    41.000000
2019-08-29    43.250000
2019-08-30    44.250000
2019-09-02    43.500000
2019-09-04    43.500000
2019-09-05    44.250000
2019-09-06    44.500000
2019-09-09    45.000000
2019-09-10    45.500000
2019-09-11    45.750000
2019-09-12    45.500000
2019-09-13    45.500000
2019-09-16    47.000000
2019-09-17    47.250000
2019-09-18    45.750000
Name: Close, Length: 2650, dtype: float64

In [48]:
ind_Pred[-1]

2645

In [54]:
all_x[ind_Pred]

array([[[0.00665188, 0.35188219],
        [0.03547672, 0.45050215],
        [0.04878049, 0.30527458],
        [0.08869182, 0.34954955],
        [0.10199555, 0.2583273 ]],

       [[0.10199555, 0.36327182],
        [0.10199555, 0.31712112],
        [0.09977829, 0.36623872],
        [0.09534368, 0.25505379],
        [0.07538803, 0.18524608]],

       [[0.06651887, 0.17923714],
        [0.06430155, 0.18117299],
        [0.05986696, 0.1543537 ],
        [0.06873612, 0.07656213],
        [0.04878049, 0.13479083]],

       ...,

       [[0.64966742, 0.08952028],
        [0.63303771, 0.25134773],
        [0.63858095, 0.06196182],
        [0.60532152, 0.2654244 ],
        [0.59977828, 0.24098674]],

       [[0.60532152, 0.08503176],
        [0.65521066, 0.32976454],
        [0.67738361, 0.28271025],
        [0.66075389, 0.14613297],
        [0.66075389, 0.13728158]],

       [[0.67738361, 0.15540459],
        [0.68292684, 0.0881249 ],
        [0.69401332, 0.09948087],
        [0.70509979, 0.13453743],
        [0.71064303, 0.13152995]]])

In [58]:
all_x ,all_y =to_supervised(dataset.values.reshape(-1, len(dataset.columns))[:-remain], n_input, n_out)
Y_pred = lstm_model.predict(all_x[ind_Pred])

In [59]:
Y_hat = []
for i in range(len(Y_pred)):
    for j in range(len(Y_pred[i])):
        Y_hat.append(Y_pred[i][j])

In [69]:
df_dummy = pd.DataFrame(np.append(df_real['Close'].values,df_real['Volume'].values))
scaling_dummy = scaler.fit_transform(df_dummy)
Y_hat_true = scaler.inverse_transform(np.array(Y_hat).reshape(-1, 1))

In [70]:
Y_hat_true

array([[38200276.],
       [36906040.],
       [39947652.],
       ...,
       [39554372.],
       [31239680.],
       [35984150.]], dtype=float32)